# This file is used to configure the environment variables for the deployment of the STATUS platform.
# Github configuration
GH_CLIENT_ID=
GH_CLIENT_SECRET="CLIENT_SECRET" # Replace with the GitHub client secret

# JWT configuration
JWT_SECRET=
REFRESH_JWT_SECRET=
JWT_EXPIRATION=
JWT_REFRESH_EXPIRATION=
SECRET_ENCRYPTION_KEY=

# OpenAI configuration
AI_ORG_ID='AI_ORG_ID' # Replace with your OpenAI org ID
AI_API_KEY='AI_API_KEY' # Replace with your OpenAI API key

# Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=statususer
DB_PASSWORD=statuspass
DB_NAME=statusdb
DB_GRAFANA_HOST=postgres:5432
DB_CONFIG=''


#STATUS NODE-RED
USER_STATUS=
PASS_STATUS=

## NODE-RED URL
NODE_RED_URL=http://localhost:1880

#GRAFANA URL
GRAFANA_URL='http://localhost:3100'
GRAFANA_USER=
GRAFANA_PASSWORD=
GRAFANA_API_KEY=

DRAGONFLY_HOST=localhost
DRAGONFLY_PORT=6379

#API_PREFIX
API_PREFIX=/api/v1

#REGISTRY
REGISTRY_URL='http://localhost:5400'


#MONGODB
MONGO_URI='mongodb://USER:PASS@localhost:5001/status?authSource=admin'

# Configuración del logger
LOG_LEVEL=debug
MONGO_LOG_URI=mongodb://USER:PASS@localhost:5001/statuslogs?authSource=admin
MONGO_LOGGING_ENABLED=false


# .env para desarrollo
NODE_ENV=development
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173

# .env para producción
# NODE_ENV=production
# ALLOWED_ORIGINS=https://app.status.com,https://www.status.com